* {
    box-sizing: border-box;
}

html, body{
	width:100%;
	height:100%;
	margin:0;
}

table, td,th {
    border: 1px solid black;
	text-align:center;
}
#match {
	width:10%;
}

th {
	position:relative;
	width:15%;
}