.navbar {
	height:8%;
	width:100%;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
	position:fixed;
	z-index:2;
}

.navbar .navText {
	position:absolute;
	left:50%;
	transform: translate(-50%);
	height:100%;
	cursor:pointer;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown {
  float:left;
  overflow: hidden;
}

.dropdown .dropbtn {
	position:absolute;
	cursor:pointer;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
	height:100%;
}

.navbar .navText:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #bfff00;
	color:blue;
	cursor:pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
	visibility: visible;
  opacity: 1;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #00FFFF;
}

.dropdown:hover .dropdown-content, .show {
	position:fixed;
	visibility: visible;
  opacity: 1;
  display: block;
	top:8%;
}

@media only screen and (max-width: 1000px) {
	* {
		font-size:15px;
	}

	.navText,.dropbtn {
		font-size:13px;
	}
}
