#red1Div {
	background-color:#B22222;
}

#red2Div {
	background-color:red;
}

#blue1Div {
	background-color:blue;
}

#blue2Div {
	background-color:#2E86C1;
}

.teams {
	width:100%;
	height:5%;
}

.teamName {
	height:100%;
	width:25%;
	float:left;
}

.total {
	width:100%;
	height:5%;
}

.totalDiv {
	height:100%;
	width:25%;
	text-align:center;
	float:left;
}

.totalDiv span{
	background-color:#D3D3D3;
	padding:3px 8px;
}

.auto {
	width:100%;
	height:25%;
}

.autoDiv {
	height:100%;
	width:25%;
	text-align:center;
	float:left;
}

.autoButton {
	height:70%;
	width:25%;
	float:left;
}
.autoButton p{
	font-size:90%;
	color:	#90EE90;
}

.autoButton .button-on-score {
 	background-color:#00FF00;
	font-size:100%;
    border: 5px;
    color: blue;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position:relative;
	top:50%;
	transform: translate(0%,-50%);
}

.autoButton .button-off-score { 
	background-color:green;
	font-size:100%;
    border: 5px;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position:relative;
	top:50%;
	transform: translate(0%,-50%);
}

.tele {
	width:100%;
	height:25%;
}

.teleDiv {
	height:100%;
	width:25%;
	text-align:center;
	float:left;
}

.end {
	width:100%;
	height:25%;
}

.endDiv {
	height:100%;
	width:25%;
	text-align:center;
	float:left;
}

.score-container {
	height:30%;
	width:100%;
	text-align:center;
	float:left;
	font-size: 100%;
	padding:0;
	position:relative;
}

.score-container span {
	font-size:130%;
	position:relative;
	top:40%;
}

