.top {
	width:100%;
	height:12%;
	background-color:gray;
	position:fixed;
	top:8%;
	z-index:1;
	text-align:center;
}

.topDiv {
	height:50%;
	transform: translate(0%,50%);
	text-align:center;
}

.button{
  border: 5px;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
	.button-off-top {
		font-size: 20px;
		padding:5px 15px;
	}
}
