## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#parse("/velocity/layout.vm")
#@mainLayout()

## Import Awards Manager Header
#parse("/velocity/event/awards/awards.vm")

<div class="text-left" id="manage-awards">
    <div class="row">
        <h4 class="col font-weight-bold">Manage Awards</h4>
    </div>
    <br>

    ## Add a new award
    <div class="row" id="manage-awards-create-new-award">
        <div class="col">
            <div class="d-flex">
                <div class="mr-2">
                    <div class="form-group">
                        <input type="text" class="award-name form-control form-control-sm px-2" id="manage-awards-new-award-name" placeholder="Enter award name...">
                    </div>
                </div>
                <div class="mr-2 px-2 award-info" style="flex-grow: 1;">
                    <div class="form-check form-check-inline align-middle">
                        <input class="form-check-input" type="checkbox" id="manage-awards-new-award-is-required">
                        <label class="form-check-label" for="manage-awards-new-award-is-required">Required</label>
                    </div>
                    <div class="form-check form-check-inline align-middle">
                        <input class="form-check-input" type="checkbox" id="manage-awards-new-award-for-team">
                        <label class="form-check-label" for="manage-awards-new-award-for-team">Team Award</label>
                    </div>
                </div>
                <div>
                    <button type="button" id="manage-awards-add-new-award-btn" class="btn btn-primary btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                        <path d="M3 0v3h-3v2h3v3h2v-3h3v-2h-3v-3h-2z" />
                        </svg> Add Award
                    </button>
                </div>
            </div>
            <textarea class="form-control mt-2 px-2" id="manage-awards-new-award-desc" rows="3" placeholder="Enter award description..."></textarea>
        </div>
    </div>

    <br>
    <br>

    ## List all awards
    <p>Presented in order listed. Drag to reorder.</p>
    <div id="manage-awards-list">
        <div class="d-flex mb-4">
            <div style="flex-grow: 1;" class="header-row">Award</div>
        </div>
        <div id="manage-awards-list-container"></div>
    </div>

    ## Templates for HTML objects
    <div id="manage-awards-templates">
        <div id="manage-awards-award-item" class="award-item sortable my-4">
            <div class="d-flex">
                <div class="award-name px-2 award-info">(Award Name)</div>
                <div class="mr-2 px-2 award-info" style="flex-grow: 1;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input award-required" type="checkbox" id="manage-awards-award-is-required" disabled>
                        <label class="form-check-label award-required-label" for="manage-awards-award-is-required">Required</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input award-team" type="checkbox" id="manage-awards-award-for-team" disabled>
                        <label class="form-check-label award-team-label" for="manage-awards-award-for-team">Team Award</label>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm mr-2 edit-award-btn edit-off">Edit</button><button
                    type="button" class="btn btn-primary btn-sm mr-2 save-award-btn edit-on">Save</button><button
                    type="button" class="btn btn-primary btn-sm cancel-award-btn edit-on">Cancel</button><button
                    type="button" class="btn btn-primary btn-sm delete-award-btn edit-off">Delete</button>
                </div>
            </div>
            <textarea class="form-control award-desc mt-2 px-2" rows="3" disabled>(Award Description)</textarea>
        </div>
    </div>

</div>

#end

<link href="/css/awards/manageAwards.css?v=$!random" rel="stylesheet">
<script src="/js/awards/manageAwards.js"></script>