## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#parse("/velocity/layout.vm")
#@mainLayout()

##Import Awards Manager Header
#parse("/velocity/event/awards/awards.vm")

<div class="text-left" id="present-awards">
    <div class="row">
        <h4 class="col-4 font-weight-bold">Present Awards</h4>
        <div class="col text-right">
            <button id="present-awards-present" type="button" class="btn btn-secondary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                <path d="M0 0v6l6-3-6-3z" transform="translate(1 1)" />
                </svg> Present
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button id="present-awards-prev" type="button" class="btn btn-secondary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"/></svg> Previous
            </button>
        </div>
        <div class="col text-right">
            <button id="present-awards-next" type="button" class="btn btn-secondary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"/></svg> Next
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col" id="present-awards-list-container"></div>
    </div>

    ## Templates for HTML objects
    <div id="present-awards-templates">
        <div id="present-awards-award-item" class="award-item">
            <div class="row award-card">
                <div class="col title-card">
                    <b class="award-name mr-3">(Award Title)</b>
                    <span>About Award</span>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col award-winners"></div>
            </div>
        </div>

        <div class="award-winner-item award-card">
            <div class="award-place">(Award Place)</div>
            <div class="award-winner">(Award Winner)</div>
        </div>
    </div>

</div>

#end

<link href="/css/awards/presentAwards.css?v=$!random" rel="stylesheet">
<script src="/js/awards/presentAwards.js"></script>