## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#parse("/velocity/layout.vm")
#@mainLayout()

##Import Awards Manager Header
#parse("/velocity/event/awards/awards.vm")
<style type="text/css" media="print">
@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}
div.container {
	padding:2em;
}
.onlyOnFull {
	display:none !important;
}

.award-item{
	page-break-inside: avoid;
}
</style>




<div class="text-left" id="view-script">

    <div class="row">
        <h4 class="col-4 font-weight-bold">View Script</h4>
        <div class="col text-right mr-2">
            <button onclick="printScript()" type="button" class="btn btn-secondary btn-sm onlyOnFull">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                    <path d="M2 0v2h4v-2h-4zm-1.91 3c-.06 0-.09.04-.09.09v2.81c0 .05.04.09.09.09h.91v-2h6v2h.91c.05 0 .09-.04.09-.09v-2.81c0-.06-.04-.09-.09-.09h-7.81zm1.91 2v3h4v-3h-4z" />
                </svg> Print
            </button>
        </div>
    </div>
    <br>
    Welcome to the $eventName Awards and Closing Ceremony!  
As many of you know, FIRST is a non-profit and a global movement transforming lives and inspiring future innovators, and problem solvers. FIRST engages young people, kindergarten through 12th grade in our four STEM programs including FIRST LEGO League Jr., FIRST LEGO League, FIRST Robotics Competition, and of course, FIRST Tech Challenge.  Our STEM programs are a fantastic opportunity to have the hardest fun you'll ever have!

Speaking of the hardest fun you'll ever have, what an outstanding day we've had!  Before we hand out our awards, let's thank the awesome people who made this event happen.

Today could not have been possible without our volunteers! Please give a big round of applause for all the volunteers who have given their time, effort, dedication, and so much more to make this program a success.  

Also, a big round of applause for our generous sponsors, especially our Presenting Sponsor, Qualcomm and our Official Program Sponsor Rockwell Collins! 
Thank you! 
Before we hand out the awards, I would like to introduce our special guest. <br>
[Introduce Speaker]
<hr>
Let's give a round of applause to our Judges, Refereess and Field Tech Advisors for all their expertise, dedication and hard work today as they make their way up to the front for the presentation of awards.<br>
[Volunteers file onto the stage]<br>
Thank You! And now, the Awards.
<hr>
    
    <div class="row">
        <div id="view-script-list-container" class="col"></div>
    </div>
    

    ## Templates for HTML objects
    <div id="view-script-templates">
        <div class="award-item">
            <div class="mr-1 d-inline-block award-name"><b>(Award Title)</b></div>
            <p class="award-desc">(Award Description)</p>
            <div class="ml-5 award-winners">
                <p class="award-winner-desc"></p>
            </div>
        </div>
        <div class="award-winner-item">        
			<div class="award-winner-comments-intro" hidden>Here is what the Judges have to say about the winner of this Award:</div>
			<div class="award-winner-comments"></div>
            <div class="award-place">(Award Place)</div>
            <div class="award-winner">(Award Winner)</div>
        </div>
    </div>
    <hr>
    Thank you all for being a great audience today for helping support the next generation of leaders and innovators and for bringing your Gracious Professionalism to the competition Remember, your participation with the FIRST Tech Challenge program doesn't have to end here! Check out our website for opportunities to volunteer at one of the FIRST LEGO League Jr., FIRST LEGO League, FIRST Robotics Competition, and of course, FIRST Tech Challenge programs.  And make sure to learn more about scholarships, internships and alumni opportunities at firstinspires.org/alumni. 

Finally, a big thank you everyone, we had an excellent event and look forward to seeing you next year! 
    
    

</div>

#end

<link href="/css/awards/viewScript.css?v=$!random" rel="stylesheet">
<script src="/js/awards/viewScript.js"></script>
