## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<style>
.red {
	box-shadow: 0 0 10px #f00;
}
</style>
<script>
function keySubmit(e) {
	if (e.which == 13) { //enter
		submit(); 	
	}
}
$().ready(function() {
	$("#loading").hide();
	$("#startDatePicker").datepicker();
	$("#endDatePicker").datepicker();
	$("input").keypress(keySubmit);
	initDivisionFields();	
});
var numDivisions = 2;
function initDivisionFields() {
	
	for (var i = 1; i < numDivisions + 1; i++) { //divisions are one indexed
		var division = $("#divisionTemplate").clone();
		
		division.find("#divisionNameInput").attr("id", "divisionNameInput" + i)
		var divisionNameLabel = division.find("#divisionNameLabel");
		divisionNameLabel.attr("id", "divisionNameLabel" + i);
		divisionNameLabel.attr("for", "divisionNameInput" + i);
		divisionNameLabel.text("Division " + i + " Name:");
		
		division.find("#divisionAbbrevInput").attr("id", "divisionAbbrevInput" + i)
		var divisionAbbrevLabel = division.find("#divisionAbbrevLabel");
		divisionAbbrevLabel.attr("id", "divisionAbbrevLabel" + i);
		divisionAbbrevLabel.attr("for", "divisionAbbrevInput" + i);
		divisionAbbrevLabel.text("Division " + i + " Abbreviation (one character):")
		division.attr("id", "division" + i);
		division.removeClass("d-none");
		$("#divisions").append(division);
	}
	$("#divisions").hide();
}
function changed() {
	if (!$("#endDatePicker").val()) {
		$("#endDatePicker").val($("#startDatePicker").val());
		$("#endDatePicker").removeClass("red");
	}
}

function removeRed(obj) {
	$(obj.target).removeClass("red");
}
var waitingForSubmit = false;
function getObj() {
	$("#error").empty();
	obj = {};
	obj.eventCode = $("#eventCodeInput").val();
	obj.eventName = $("#eventNameInput").val();
	obj.eventType = $("#eventTypeInput").val();
	obj.eventStartDate = $("#startDatePicker").val();
	obj.eventEndDate = $("#endDatePicker").val();
	obj.eventFieldNumber = $("#fieldNumberInput").val();
	obj.dualDivision = $("#dualDivisionCheck").prop("checked");
	if (obj.dualDivision) {
		obj.divisionNames = [];
		obj.divisionAbbrevs = [];
		for (var i = 1; i < numDivisions + 1; i++) {
			obj.divisionNames.push($("#divisionNameInput" + i).val());
			obj.divisionAbbrevs.push($("#divisionAbbrevInput" + i).val());
		}
		//obj.divisionNames = JSON.stringify(obj.divisionNames);
		//obj.divisionAbbrevs = JSON.stringify(obj.divisionAbbrevs);
	}
	var bad = false;
	if (obj.eventCode == "" || !/^[a-z_0-9]*$/.test(obj.eventCode) || 'global' === obj.eventCode || 'server' === obj.eventCode) {
		$("#eventCodeInput").addClass("red");
		$("#eventCodeInput").change(removeRed);
		if (obj.eventCode == "") {
			$("#error").append("Event code cannot be empty.<br>");
		} else if (!/^[a-z_0-9]*$/.test(obj.eventCode)) {
			$("#error").append("Event code must only contain a-z, 0-9, and underscore.<br>");
		} else {
			$("#error").append("Event code cannot be " + obj.eventCode + ".<br>");
		}
		bad = true;
	}
	var startDateText = new Date(obj.eventStartDate);
	var startDateActual = new Date($("#startDatePicker").datepicker("getDate"));
	var goodStart = (startDateText <= startDateActual && startDateActual <= startDateText);
	if (obj.eventStartDate == "" || !goodStart) {
		$("#startDatePicker").addClass("red");
		$("#startDatePicker").change(removeRed);
		if (obj.eventStartDate == "") {
			$("#error").append("Must specify start date.<br>");
		} else if (!goodStart) {
			$("#error").append("Start date is not in valid format.<br>");
		}
		bad = true;
	}
	var endDateText = new Date(obj.eventEndDate);
	var endDateActual = new Date($("#endDatePicker").datepicker("getDate"));
	var goodEnd = (startDateText <= startDateActual && startDateActual <= startDateText);
	if (obj.eventEndDate == "") {
		$("#endDatePicker").addClass("red");
		$("#endDatePicker").change(removeRed);
		if (obj.eventEndDate == "") {
			$("#error").append("Must specify end date.<br>");
		} else if (!goodEnd) {
			$("#error").append("End date is not in valid format.<br>");
		}
		bad = true;
	}
	if (goodEnd && goodStart && endDateActual < startDateActual) {
		$("#endDatePicker").addClass("red");
		$("#endDatePicker").change(removeRed);
		$("#error").append("End date cannot be before start date.<br>");
		bad = true;
	}
	if (obj.eventFieldNumber == "" || isNaN(obj.eventFieldNumber)) {
		$("#fieldNumberInput").addClass("red");
		$("#fieldNumberInput").change(removeRed);
		$("#error").append("Must specify valid field count.<br>");
		bad = true;
	}
	if (obj.eventFieldNumber <= 0) {
		$("#fieldNumberInput").addClass("red");
		$("#fieldNumberInput").change(removeRed);
		$("#error").append("Field count must be positive.<br>");
		bad = true;
	}
	if (obj.dualDivision && obj.eventType == 1 /*league meet*/) {
		$("#dualDivisionCheck").addClass("red");
		$("#dualDivisionCheck").change(removeRed);
		$("#error").append("Cannot have a Dual-Division League Meet.<br>");
		bad = true;
	}
	#if(!$eventCode)
	if (obj.dualDivision) {
		var abbrev;
		var no = false;
		for (abbrev = 1; abbrev <= obj.divisionAbbrevs.length; abbrev++) {
			if (obj.divisionAbbrevs[abbrev - 1].length == 0) {
				$("#divisionAbbrevInput" + abbrev).addClass("red");
				$("#divisionAbbrevInput" + abbrev).change(removeRed);
				no = true;
			}
		}
		if (no) {
			$("#error").append("Must specify all division abbreviations.<br>");
			bad = true;
		}
		
		var name;
		no = false;
		for (name = 1; name <= obj.divisionNames.length; name++) {
			if (obj.divisionNames[name - 1].length == 0) {
				$("#divisionNameInput" + name).addClass("red");
				$("#divisionNameInput" + name).change(removeRed);
				no = true;
			}
		}
		if (no) {
			$("#error").append("Must specify all division names.<br>");
			bad = true;
		}
	}
	#end
	return bad ? null : obj;
}
function submit() {
	if (waitingForSubmit) {
		return;
	}
	waitingForSubmit = true;
		obj = getObj();
		if (obj == null) {
			waitingForSubmit = false;
			return;
		}
		$("#loading").show();
		$.ajax({
		#if($eventCode)
		url: ".",
		#else
        url: "$!CREATE_EVENT_POST",
        #end
        type: #if($eventCode)"PUT",#{else}"POST",#end
        data: obj,
        success: function (data) {
            //we good
            console.log("we good");
            window.location.replace('/event/' + data + '/dashboard/');
            waitingForSubmit = false;
        },
        error: function (xhr, textStatus, errorThrown) {
			$("#error").append(xhr.responseText + "<br>");
			if(xhr.status == 409) {
				$("#eventCodeInput").addClass("red");
				$("#eventCodeInput").change(removeRed);
			}
			$("#loading").hide();
			waitingForSubmit = false;
        }});
}
function checkFieldCount() {
/*
	if ($("#eventTypeInput option:checked").val() == 1) { //this is a League Meet, can only have 1 field
		$("#fieldNumberInput").prop("disabled", true);
		$("#fieldNumberInput").val(1);
	} else {
		$("#fieldNumberInput").prop("disabled", false);
	}
	*/
}
function setFieldVisible(cb) {
	if (cb.checked) {
		$("#fieldGroup").hide();
		$("#divisions").show();
	} else {
		$("#fieldGroup").show();
		$("#divisions").hide();
	}
}
function checkDualDivision() {
	if ($("#eventTypeInput option:checked").val() == 1) { //this is a League Meet, cannot be dual division
		if ($("#dualDivisionCheck").prop("checked")) {
			$("#fieldGroup").show();
			$("#divisions").hide();
		}
		$("#dualDivisionCheck").prop("disabled", true);
		$("#dualDivisionCheck").prop("checked", false);
	} else {
		if ($("#dualDivisionCheck").prop("disabled")) {
			$("#fieldGroup").show();
			$("#divisions").hide();
		}
		$("#dualDivisionCheck").prop("disabled", false);
	}
}
</script>
#if($eventCode) ##use $eventCode as a flag for whether or not we are editing
<div class="row">
	<div class="col-12">
		<a href="../dashboard/"><< Back to Dashboard</a>
	</div>
</div>
#end
<div class="row">
	<div class="col-md-6 offset-md-3">
    	#if($dualDivisionParent)
    	<div class="form-group">
    		This is the Inter-Division Finals Event of a Dual-Division setup. Because of this, you can only change the Event Name, which is displayed
    		on the Audience Display during the Inter-Division Finals. If you need to alter more of the event setup, 
    		<a href="$FEEDBACK_PAGE">please contact <i>FIRST</i> event help.</a>
    		<hr>
    	</div>
    	#end
    	#if($dualDivisionChild)
    	<div class="form-group">
    		This is a Division Event within a Dual-Division setup. Because of this, you can only change the Division Name, which is displayed
    		on the Audience Display and the number of fields for this division. If you need to alter more of the event setup, 
    		<a href="$FEEDBACK_PAGE">please contact <i>FIRST</i> event help.</a><br><br>
    		The Inter-Division Finals Event for this Division is: $parentEventCode : $parentEventName
    		<hr>
    	</div>
    	#end
    	<div class="form-group">
    		<label for="eventCodeInput">#if($dualDivisionChild)Division#{else}Event#end Code:</label>
			<input id="eventCodeInput" type="text" name="eventCode" class="form-control" placeholder="Event Code" #if($eventCode)value="$eventCode" disabled class="disabled"#end/>
		</div>
		<div class="form-group">
    		<label for="eventNameInput">#if($dualDivisionChild)Division#{else}Event#end Name:</label>
			<input id="eventNameInput" type="text" name="eventName" class="form-control" placeholder="Event Name" #if($eventName)value="$eventName"#end />
		</div>
		<div class="form-group">
			<label for="eventTypeInput">Event Type:</label>
			<select class="custom-select" name="eventType" id="eventTypeInput" onchange="checkDualDivision()" #if($divisionEvent) disabled class="disabled"#end>
				#foreach ($eventType in $eventTypes)
					#if(!$disallowedTypes.contains($foreach.index))<option value="$foreach.index" #if($type == $foreach.index)selected#end>$eventType</option>#end	
				#end
			</select>
		</div>
		#if($disallowedTypes.size() > 0)
		<small>
			<b>Since Alliance Selection has begun, you may not change to certain types of events.
			 If you need to change to one of these types, <a href="$FEEDBACK_PAGE">please contact <i>FIRST</i> event help.</a></b>
		</small><br><br>
		#end
		<div class="form-group">
			<label for="startDatepicker">Event Start Date:</label>
			<div class="input-group">
			<input type="text" onchange="changed()" name="eventStartDate" id="startDatePicker" class="form-control" name="datepicker" placeholder="mm/dd/yyyy" #if($startDate)value="$startDate"#end #if($divisionEvent) disabled class="disabled"#end>
			<!--
			<span class="input-group-append">
				<span class="input-group-text" id="cal_icon">
                <i class="fas fa-calendar-alt"></i>
                </span>
            </span>
            -->
            </div>
		</div>
		<div class="form-group">
			<label for="endDatepicker">Event End Date:</label>
			<div class="input-group">
			<input type="text" name="eventEndDate" id="endDatePicker" class="form-control" name="datepicker" placeholder="mm/dd/yyyy" #if($endDate)value="$endDate"#end #if($divisionEvent) disabled class="disabled"#end>
			<!--
			<span class="input-group-append">
				<span class="input-group-text" id="cal_icon">
                <i class="fas fa-calendar-alt"></i>
                </span>
            </span>
            -->
            </div>
		</div>
		<br>
		<div class="form-check">
			<input type="checkbox" name="dualDivision" id="dualDivisionCheck" class="form-check-input" onclick="setFieldVisible(this)" #if($eventCode)checked disabled#end>
			<label for="dualDivisionCheck" class="form-check-label">Dual-Division Event</label>
		</div>
		<br>
		<div class="form-group" id="fieldGroup">
    		<label for="fieldNumberInput">Number of Fields:</label>
			<input id="fieldNumberInput" type="text" name="fieldNumber" class="form-control" placeholder="Number of Fields" #if($fieldCount)value="$fieldCount"#{else}value="1"#end #if($dualDivisionParent) disabled class="disabled"#end/>
		</div>
		<div id="divisionTemplate" class="d-none">
			<div class="form-group">
				<label for="divisionName" id="divisionNameLabel">Division Name:</label>
				<input id="divisionNameInput" type="text" name="divisionName" class="form-control" placeholder="Division Name" />
			</div>
			<div class="form-group">
				<label for="divisionAbbrev" id="divisionAbbrevLabel">Division Abbreviation:</label>
				<input id="divisionAbbrevInput" type="text" name="divisionAbbrev$i" class="form-control col-2 float-right" maxlength="1" />
				<br>
				<!-- <small>Shown on Audience Display (one character)</small> -->
			</div>
		</div>
		<div id="divisions">
			<div class="form-group" id="divisionWarning">
				<b>Running a Dual-Division Event requires explicit permission from <i>FIRST</i> Headquarters.
				By continuing, you agree that you have obtained the necessary permission to run this event.</b>
			</div>
		</div>
		<button class="btn btn-primary" onclick="submit()">#if($eventCode)Save Event#{else}Create Event#end</button>
	
	</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-3" id="error">
			
		</div>
	</div>
	<div id="loading">
		<div class="row">
		&nbsp;
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				Creating event. Page will reload when complete.
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 2em; border-radius:.5em;"></div>
			</div>
		</div>
	</div>
#end