## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#macro( status $stage)
  #if($stage == 0)
  	<td class="text-danger">Not Started</td>
  #elseif($stage == 1)
  	<td class="text-warning">In Progress</td>
  #elseif($stage == 2)
  	<td class="text-success">Done</td>
  #end
#end
#parse("/velocity/layout.vm")
#@mainLayout()
<style>
td, th {
	text-align:center;
}
button {
	width:100%;
}
</style>
<script>
function getArchive(){
	window.open("./leagues/export/");
}
</script>
<div class="row">
	<div class="col-12">
		<a href=".."><< Back to Event Home</a>
	</div>
</div>
<div class="row justify-content-center">
	<h2 class=" text-center">$eventCode Dashboard</h2>
</div>
<div class="row justify-content-center">
	<h4 class=" text-center">$eventType</h4>
</div>
<div class="row justify-content-center">
	<div >
		##What is shown here should vary based on event type. What is clickable should vary by status.
		<table class="table">
			<thead>
				<th scope="col">Step</th>
				<th scope="col">Action</th>
				<th scope="col">Status</th>
			</thead>
			#set($i=1)
			<tr>
				<th scope="row">$i</th>
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='/event/$eventCode/edit/'">Edit Event</button></td>
				#status($createDB)
			</tr>
			#set($i=$i+1)
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='defaultaccounts/'">Create Default Accounts</button></td>
				#status($createAccounts)
			</tr>
			#if($isLeague)
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='leagues/'">Manage Leagues</button></td>
				<td>$addLeagues leagues</td>
			</tr>
			#end
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='teams/'" #if($addLeagues==0 && $isLeage)title="Must add at least one league before adding teams" disabled#end>Add/Edit Teams</button></td>
				<td>$addTeams teams added</td>
			</tr>
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='sponsors'">Add/Edit Sponsors</button></td>
				<td>$addSponsors sponsors added</td>
			</tr>
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" title="Not yet implemented" disabled>Create #if(!$isLeague)Judging/#{end}Inspection Schedule (Optional)</button></td>
				#status($createInspectionSchedule)
			</tr>
			#if(!$isDualDivisionParent)
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='schedule/'" #if($addTeams<4)title="Must add at least 4 teams before generating schedule" disabled#end>Create Match Schedule</button></td>
				#status($createMatchSchedule)
			</tr>
			#end
			#if($isDualDivisionParent)
				<tr>
					<th scope="row">$i</th>
					#set($i=$i+1)
					<td><button type="button" class="btn btn-secondary" title="Not yet implemented" disabled>Export Divisions (Optional)</button></td>
					##status()
					<td>Optional</td>
				</tr>
				<tr>
					<th scope="row">$i</th>
					#set($i=$i+1)
					<td><button type="button" class="btn btn-secondary" onclick="window.location.href='finals/'">Generate Inter-Division Finals</button></td>
					#status(0)
				</tr>
			#end
			#if(!$isLeagueMeet && !$isDivision)
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='awards/give_awards'">Manage Awards</button></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="window.location.href='advancement'">Advancement Report</button></td>
				<td>&nbsp;</td>
			</tr>
			#end
			<tr>
				<th scope="row">$i</th>
				#set($i=$i+1)
				<td><button type="button" class="btn btn-secondary" onclick="getArchive()" >Download Archive File</button></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>

#end