## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#macro (sampleField $tab $alliance $index)
	<div class="scoreItem sampleField">
	<table>
	<th></th><th class="text-center">On</th><th class="text-center">Off</th>
	<tr>
		<td><img class="sfImg" src="/img/block_yellow.png"></img></td>
		<td><input type="checkbox" id="${tab}_${alliance}_sf${index}GoldOn" onclick="scoreEdit('${tab}')"></input></td>
		<td><input type="checkbox" id="${tab}_${alliance}_sf${index}GoldOff" onclick="scoreEdit('${tab}', this)"></input></td>
	</tr><tr>
		<td><img class="sfImg" src="/img/ball_white_plain.png"></img></td>
		<td><input type="checkbox" id="${tab}_${alliance}_sf${index}Silver1On" onclick="scoreEdit('${tab}')"></input></td>
		<td><input type="checkbox" id="${tab}_${alliance}_sf${index}Silver1Off" onclick="scoreEdit('${tab}', this)"></input></td>
	</tr><tr>
		<td><img class="sfImg" src="/img/ball_white_plain.png"></img></td>
		<td><input type="checkbox" id="${tab}_${alliance}_sf${index}Silver2On" onclick="scoreEdit('${tab}')"></input></td>
		<td><input type="checkbox" id="${tab}_${alliance}_sf${index}Silver2Off" onclick="scoreEdit('${tab}', this)"></input></td>
	</tr>
	</table>
	</div>
#end

#macro (teamRow $tab $alliance $index)
	<div id="${tab}_${alliance}_team${index}" class="scoreTeamRow ${alliance}TeamRow">
		<div class="scoreTeamNumber ${alliance}TeamNumber"></div>
		<div class="scoreNoShowDiv ${alliance}NoShowDiv"><input type="checkbox" onclick="scoreEdit('${tab}')"></input></div>
		<div class="scoreYCDiv ${alliance}YCDiv"><input id="${tab}_${alliance}_yc_${index}" type="checkbox" onclick="scoreEdit('${tab}', this)"></input></div>
		<div class="scoreRCDiv ${alliance}RCDiv"><input id="${tab}_${alliance}_rc_${index}" type="checkbox" onclick="scoreEdit('${tab}', this)"></input></div>
	</div>		
#end

#macro (eg $tab $alliance $robot)
	<table class="scoreItem egRobotTable">
		<tr>
			<td>
				<table>
					<tr><th colspan=3>Crater</th></tr>
					<tr><td>Out</td><td>Partial</td><td>In</td>
					<tr>
						<td class="text-center"><input type="checkbox" id="${tab}_${alliance}_CraterOut${robot}" onclick="scoreEdit('${tab}', this)"></input></td>
						<td class="text-center"><input type="checkbox" id="${tab}_${alliance}_CraterPartial${robot}" onclick="scoreEdit('${tab}', this)"></input></td>
						<td class="text-center"><input type="checkbox" id="${tab}_${alliance}_CraterIn${robot}" onclick="scoreEdit('${tab}')"></input></td>
					</tr>
				</table>
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				<table>
					<tr><th>Lander</th></tr>
					<tr><td>Latched</td></tr>
					<tr><td class="text-center"><input type="checkbox" id="${tab}_${alliance}_Latched${robot}" onclick="scoreEdit('${tab}')"></input></td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<th colspan=3 >Robot #${robot}</th>
		</tr>
	</table>
#end

#macro (scores $tab $alliance)
		<div id="scores_${tab}_${alliance}" class="scoresContainer ${alliance}Scores ${tab}Scores">
			<div class="scoreTeamInfo ${alliance}TeamInfo">
			
				<div class="scoreTotal ${alliance}Total"><div id="${tab}_${alliance}_total" class="scoreSpan">0</div></div>
				<div class="scoreTeams ${alliance}Teams">
					<div class="scoreTeamRow ${alliance}TeamRow">
						<div class="scoreTeamNumber ${alliance}TeamNumber">$alliance.toUpperCase().charAt(0)$alliance.substring(1)</div>
						<div class="scoreNoShowDiv ${alliance}NoShowDiv text-center">N</div>
						<div class="scoreYCDiv ${alliance}YCDiv text-center">Y</div>
						<div class="scoreRCDiv ${alliance}RCDiv text-center">R</div>
						<div class="scoreCardHelpDiv text-center" title="Y = 1st yellow card, R = red card, Y&R = 2nd+ yellow">?</div>
					</div>
					#teamRow($tab $alliance 1)
					#teamRow($tab $alliance 2)
					#teamRow($tab $alliance 3)
				</div>
				
			</div>
			
		<fieldset id="${tab}_${alliance}_autoSet" class="autoSet scoreSet ${alliance}Set">
			<legend>Autonomous</legend>
			<div class="scoreItem autoCheckboxSet">
				<table class="scoreItem">
					<tr>
						<td>Landed</td><td><input type="checkbox" id="${tab}_${alliance}_robot1Landed" onclick="scoreEdit('${tab}')"></input></td>
						<td>Landed</td><td><input type="checkbox" id="${tab}_${alliance}_robot2Landed" onclick="scoreEdit('${tab}')"></input></td>
					</tr>
					
					<tr>
						<td>Claimed</td><td><input type="checkbox" id="${tab}_${alliance}_robot1Claimed" onclick="scoreEdit('${tab}')"></input></td>
						<td>Claimed</td><td><input type="checkbox" id="${tab}_${alliance}_robot2Claimed" onclick="scoreEdit('${tab}')"></input></td>
					</tr>
					
					<tr>
						<td>Parked</td><td><input type="checkbox" id="${tab}_${alliance}_robot1AutoParked" onclick="scoreEdit('${tab}')"></input></td>
						<td>Parked</td><td><input type="checkbox" id="${tab}_${alliance}_robot2AutoParked" onclick="scoreEdit('${tab}')"></input></td>
					</tr>
					<tr >
						<td colspan=2 class="robotLabelAuto"><b>Robot 1</b></td><td colspan=2 class="robotLabelAuto"><b>Robot 2</b></td>
					</tr>
					
				</table>
			</div>
			#sampleField($tab $alliance 1)
			#sampleField($tab $alliance 2)
			
		</fieldset>
		
		<div class="scoreBreakdown">
			<fieldset class="breakdown ${alliance}Breakdown">
				<legend>Score Breakdown</legend>
				<table >
					<tr><th>Auto</th><th id="${tab}_${alliance}AutoScore">0</th></tr>					
					<tr><td>Landing Points</td><td id="${tab}_${alliance}LandingPoints">0</td></tr>
					<tr><td>Sampling Points</td><td id="${tab}_${alliance}SamplingPoints">0</td></tr>
					<tr><td>Claiming Points</td><td id="${tab}_${alliance}ClaimingPoints">0</td></tr>
					<tr><td>Parking Points</td><td id="${tab}_${alliance}AutoParkingPoints">0</td></tr>
					<tr><th>Driv-Ctrled</th><th id="${tab}_${alliance}MineralScore">0</th></tr>
					<tr><td>Gold Points</td><td id="${tab}_${alliance}GoldPoints">0</td></tr>
					<tr><td>Silver Points</td><td id="${tab}_${alliance}SilverPoints">0</td></tr>
					<tr><td>Depot Points</td><td id="${tab}_${alliance}DepotPoints">0</td></tr>
					<tr><th>End Game</th><th id="${tab}_${alliance}EndGameScore">0</th></tr>
					<tr><td>Parking Points</td><td id="${tab}_${alliance}ParkingScore">0</td></tr>
					<tr><td>Latching Points</td><td id="${tab}_${alliance}LatchingPoints">0</td></tr>
					<tr><th>Penalty</th><th id="${tab}_${alliance}FoulScore">0</th></tr>
				</table>
				
				<table class="adjust" hidden>
				<tr><th>Adjust</th></tr>
				<tr><td>Use this field to give 1 point to the alliance that earned the red card <b>second</b> (The winner by &lt;T2&gt;)</td></tr>
				<tr><td><input type="number" id="${tab}_${alliance}Adjust" value=0 oninput="scoreEdit('${tab}')"></input></td></tr>
				</table>
			</fieldset>				
		</div>
		
		
		<fieldset id="${tab}_${alliance}_dcSet" class="dcSet scoreSet ${alliance}Set"">
			<legend>Driver-Controlled</legend>
			
			<div class="scoreItem">
				<table class="scoreItem">
				<tr><th colspan=2>Cargo Hold</th><th>Depot</th></tr>
					<tr><th>Silver</th><th>Gold</th><th>Minerals</th></tr>
					<tr>
						<td><input type="number" id="${tab}_${alliance}_silver" min="0" max="60" oninput="scoreEdit('${tab}')"></td>
						<td><input type="number" id="${tab}_${alliance}_gold" min="0" max="90" oninput="scoreEdit('${tab}')"></td>
						<td><input type="number" id="${tab}_${alliance}_depot" min="0" max="150" oninput="scoreEdit('${tab}')"></td>
					</tr>
				</table>
			</div>
		</fieldset>
		
		
		
		<fieldset id="${tab}_${alliance}_egSet" class="egSet scoreSet ${alliance}Set"">
			<legend>End-Game</legend>			
			<div class="scoreItem">
			
			#eg($tab $alliance 1)
			#eg($tab $alliance 2)
			</div>
		</fieldset>
		<fieldset id="${tab}_${alliance}_penSet" class="penSet scoreSet ${alliance}Set"">
			<legend>Penalties</legend>
			
			<div class="scoreItem">
				<table class="scoreItem">
					<tr>
						<td># Minor</td><td><input type="number" min="0" id="${tab}_${alliance}_minor" oninput="scoreEdit('${tab}')"></input></td>
						<td># Major</td><td><input type="number" min="0" id="${tab}_${alliance}_major" oninput="scoreEdit('${tab}')"></input></td>
						
					</tr>
				</table>
			</div>
		</fieldset>
		
		
	</div>
#end


<html>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/general.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/timer.js"></script>
	

<style>
	#parse("/velocity/event/matchControlCSS.vm")
</style>
<script>
	#parse("/velocity/event/matchControlJS.vm")
</script>




##ONLY HTML in this file. For pages that get complex, such as match control and gameDisplay, 
##we need to separate structure (HTML), function (JS), and appearance (CSS). No inline styling!

<body>

	<div id="popupLayer" hidden>
		<div id="popup">
			<div id="popupHeader"></div>
			<div id="popupBody"></div>
			<div id="popupOptions">
				<button id="popupConfirm" onclick="popupYes()">Yes</button>
				<button id="popupCancel" onclick="popupCancel()">Cancel</button>
			</div>
		</div>
	</div>
	
	<div id="top"> ##Controls active match
	
		<button id="exitButton" onclick="window.location.href='..'">Exit</button>
		<div class="smallLabel">
			<span class="line"><tt><b>$eventCode</b></tt> - $formattedAppName v$appVersion</span> <span class="line">running at $localIP#if($port!=80):$port#end</span>
		</div>
		<div id="topBar">
			<span><b>Match Control</b></span>
		</div>	
		<div id="matchInfo">
		<table id="matchInfoTable">
		<tr hidden><th></th><th>Match</th><th>Time</th><th>Red</th><th>Blue</th></tr>
		<tr><th>Loaded Match:</th><td id="loadedName"></td><td id="loadedTime"></td><td id="loadedRed"></td><td id="loadedBlue"></td></tr>
		<tr><th>Active Match:</th><td id="activeName"></td><td id="activeTime"></td><td id="activeRed"></td><td id="activeBlue"></td></tr>
		</table>
		</div>
		
		<div id="matchControl">
			<button class="matchControlButton" onclick="load()" id="loadButton">Load Next<br>Match</button>
			<button class="matchControlButton" onclick="preview()" id="previewButton">Show<br>Preview</button>
			<button class="matchControlButton" onclick="randomize(false)" id="randomizeButton">Randomize<br>Field
				<div class="randomTooltip" onclick="event.stopPropagation();" show=$externalRandom>
					<input type="button" value="1" class="manualRandom" onclick="randomize(false, 1)"></input>
					<input type="button" value="2" class="manualRandom" onclick="randomize(false,2)"></input>
					<input type="button" value="3" class="manualRandom" onclick="randomize(false,3)"></input>
					<input type="button" value="4" class="manualRandom" onclick="randomize(false,4)"></input>
					<input type="button" value="5" class="manualRandom" onclick="randomize(false,5)"></input>
					<input type="button" value="6" class="manualRandom" onclick="randomize(false,6)"></input>
				</div>
			</button>
			<button class="matchControlButton" onclick="showRandom()" id="showRandomButton">Show<br>Random</button>
			<button class="matchControlButton" onclick="showMatch()" id="showMatchButton">Show<br>Match</button>
			<button class="matchControlButton" onclick="start()" id="startButton">Start<br>Match</button>
			<button class="matchControlButton off" onclick="commitAndPostLast()" id="lastMatch">Commit & Post<br>Last Match</button>
		</div>
	</div>
	
	<div id="middle"> ##The tabs and tab contents
		<div id="tabBar">
			
			<button id="scheduleTabButton" class="tabButton" onclick="switchTab('scheduleTab', this)">Schedule</button>
			<div class="tabButton" onclick="switchTab('unsavedTab', this)" id="unsavedTabButton">
				Incomplete Matches
				<div id="unsavedCount">
					0					
				</div>
			</div>
			<button class="tabButton" onclick="switchTab('scoreTab', this)" id="scoreEditTabBtn" disabled>Score Edit</button>
			<button class="tabButton" onclick="switchTab('activeTab', this)" id="activeTabBtn" #if(!$liveScoring)disabled title="Only available with live scoring"#end>Active Match</button>
			<button class="tabButton" onclick="switchTab('settingsTab', this)">Settings</button>
			<button class="tabButton" onclick="switchTab('selectionTab', this)" id="selectionTabBtn">Alliance Selection</button>
			<button class="tabButton" onclick="switchTab('videoTab', this)">Video Switch</button>
		</div>
		<div id="tabContent">
			<div id="scheduleTab" class="tabContent activeTab">
			</div>
			<div id="unsavedTab" class="tabContent">
			</div>
			<div id="scoreTab" class="tabContent">
				<div id="scoresBanner1" class="scoreBanner" hidden>
					<button class="tabButton" id="cancelEditsBtn" onclick="cancelEdits()">Cancel Edits</button>
					<button class="tabButton" id="saveEditsBtn" onclick="saveEdits()">Save Edits</button>
					<button class="tabButton" id="commitEditsBtn" onclick="commitEdits()">Commit</button>
					<button class="tabButton" id="postEditsBtn" onclick="postEdits()">Post Results</button>
				</div>
				<div id="scoresBanner2" class="scoreBanner" hidden>
					Waiting for referees to submit scores. <button id="lockoutBtn" class="niceButton bad" onclick="popup('Override Referees?', 'This will lock out referee devices from submitting any more scores. Any unsubmitted changes on their devices will be lost.', lockout)">Force Edit</button>
				</div>
				<div id = "scoresMatchName" class="scoresMatchName">Qualification 1</div>
				#scores("scores", "red")
				#scores("scores", "blue")
			</div>
			<div id="activeTab" class="tabContent">
				<div id="activeBanner" class="scoreBanner" hidden></div>
				<div id = "activeMatchName" class="scoresMatchName">No Active Match</div>
				#scores("active", "red")
				#scores("active", "blue")
			</div>
			<div id="settingsTab" class="tabContent">
				<fieldset>
					<legend>Testing</legend>
					<table id="testTeamTable">
						<tr>
							<td><input class="testTeamInput" id="testRed1" type="number" value=-1></input></td>
							<td>Red 1</td>
							<td>&nbsp;&nbsp;&nbsp;</td>
							<td>Blue 1</td>
							<td><input class="testTeamInput" id="testBlue1" type="number" value=-3></input></td>
						</tr>
						<tr>
							<td><input class="testTeamInput" id="testRed2" type="number" value=-2></input></td>
							<td>Red 2</td>
							<td></td>
							<td>Blue 2</td>
							<td><input class="testTeamInput" id="testBlue2" type="number" value=-4></input></td>
						</tr>
					</table>
					<br>
					<div id="testInfo">Negative numbers (default) indicate a Test Team.</div>
					<button class="matchControlButton" onclick="loadTestMatch(false)">Load Test Match</button>
				##	<button class="matchControlButton" onclick="clearTestMatches()">Delete All Test Matches</button>
					
				</fieldset>
				<fieldset>
					<legend>Timeout Controls</legend>
					<button class="matchControlButton toBtn" onclick="fieldTimeout()" id="fieldTOBtn">Field Timeout</button>
					<button class="matchControlButton toBtn" onclick="allianceTimeout()" id="allianceTOBtn">Alliance Timeout</button>
					<button class="matchControlButton toBtn" onclick="showTimeout()" id="showTOBtn">Show Timeout</button>
					<button class="matchControlButton toBtn" onclick="endTimeout()" id="endTOBtn">End Timeout</button>
				</fieldset>
				<fieldset>
					<legend>Live Scoring</legend>
					<input type="checkbox" id="liveScoreCB" onclick="toggleLS()">Use Live Scoring</input>
					<input type="checkbox" id="externalRandomCB" onclick="toggleExternalRandom()">Allow External Randomization</input>
				</fieldset>
			</div>
			<div id="selectionTab" class="tabContent">
				<div id="selectTop">
					<button class="matchControlButton" onclick="startSelection(false)" id="startSelection">Start Alliance Selection</button>
					<button class="matchControlButton" onclick="displaySelection()">Set Audience Display</button>
				</div>
				<div id="selectLeft">
					<table id="allianceTable">
						<tr><th>Alliance</th><th>Captain</th><th>1<sup>st</sup> Pick</th><th>2<sup>nd</sup> Pick</th></tr>
						<tr><td>1</td><td id="a00"></td><td id="a01"></td><td id="a02"></td></tr>
						<tr><td>2</td><td id="a10"></td><td id="a11"></td><td id="a12"></td></tr>
						<tr><td>3</td><td id="a20"></td><td id="a21"></td><td id="a22"></td></tr>
						<tr><td>4</td><td id="a30"></td><td id="a31"></td><td id="a32"></td></tr>
						
					</table>
					<button class="matchControlButton off" onclick="undoSelection()" id="undoButton">Undo</button>
					<button class="matchControlButton off" onclick="generateAlliances()" id="generateButton">Generate Matches</button>
				</div><div id="selectRight">
					<table id="availableTable">
						<thead>
							<tr><th>Rank</th><th>Number</th><th class="availableName">Name</th><th>Select</th><th>Decline</th></tr>
						</thead>
						<div id="availableBodyWrapper">
						<tbody id="availableBody">
							
						</tbody>
						</div>
					</table>
				</div>
			</div>
			<div id="videoTab" class="tabContent">
				<fieldset>
					<legend>Sponsors</legend>
					<button class="matchControlButton" onclick="showSponsors()">Show Sponsors</button>
				</fieldset>
				<fieldset>
					<legend>Eliminations</legend>
					<button class="matchControlButton" onclick="showBracket()">Show Bracket</button>
					<button class="matchControlButton" onclick="displaySelection()">Show Alliance Selection</button>
				</fieldset>
			</div>
		</div>
	</div>
	
	<div id="bottom"> ##The info bar across the bottom
	</div>
</body>
</html>