## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

##ONLY CSS in this file. For pages that get complex, such as match control and gameDisplay, 
##we need to separate structure (HTML), function (JS), and appearance (CSS). No inline styling!

##After this file is mostly complete, we can see how much can be extracted from the velocity
##template an placed in a proper .css file. 

body{
	margin: 0;
	font-size: 20px;
}

#top{
	width:100%;
	height:170px;
	background-color:#293D45;
	color:white;
}
#exitButton{
	position:absolute;
	float:left;
	top:2px;
	left: 2px;
}
#topBar{
	width:100%;
	text-align:center;
	font-size:30px;
	float:left;
}
.smallLabel {
	color:#ccc;
	float:right;
	text-align:right;
	margin-right:1em;
}
#matchInfo{
	width:100%;
	text-align:center;
	align:center;
}
#matchInfoTable{
	margin: 0 auto;
	min-width: 600px;
	color:white;
}
#matchInfoTable  td {
	min-width: 150px;
	text-align:center;
}
#activeMatchInfo{
	width:100%;
	text-align: center;
}
#activeMatchInfo span {
	margin: 0px 10px;
}

#matchControl{
	width:100%;
	text-align:center;
}
#lastMatch{
	float:right;
}



#middle{	
	width:100%;
	height: 87%;
	background-color:green;
	height: calc(100% - 190px);
}
#tabBar{
	width:100%;
	height:30px;
	background:#578394;
	display: flex;
	align-items: center;
	justify-content: left;
}
#tabContent{
	width:100%;	
	height:calc(100% - 30px);
	background-color: #334C55;
	overflow:auto;
}



#bottom{
	width:100%;
	height: 20px;
	background-color:#274555;
}

body {
	color:white;
}


.niceButton {
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
}
.matchControlButton{
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 8px 14px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 5px;
		cursor: pointer;
	}
.matchControlButton:hover {
	background-color: #3e8e41;
}

.matchControlButton.off{
	pointer-events: none;
	background-color: #dddddd;
	color: black;
}
.warn{
	background-color: yellow;
	color:black;
}
.warn:hover {
	background-color: #ee0;
}

#randomizeButton{
	position:relative;
}
.randomTooltip{
	visibility: hidden;
	opacity:0;
	position:absolute;
	height:40px;
	line-height:40px;
	width:200px;
	left:-50px;
	top:52px;
	background-color:white;
}
.randomTooltip[show=false] {
	visibility:hidden;
	position:absolute;
	top:-1000;
	left:-1000;
}
.manualRandom{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 0px 1px;
	cursor: pointer;
}
.manualRandom:hover {
	background-color: #3e8e41;
}
.bad{
	background-color: red;
}
.bad:hover {
	background-color: #9F0000;
}

#randomizeButton:hover .randomTooltip[show=true] {
    visibility: visible;
    opacity: 1;
}


#popupLayer{
	width:100%;
	height:100%;
	z-index:998;
	position:fixed;
	background: rgba(.1, .1, .1, .5);
}
#popup{
	width:400px;
	height:200px;
	background-color:red;
	margin: 0 auto;
	position:relative;
	top:50;
}
#popupHeader{
	height:20%;
	text-align:center;
	font-size:24px;
	font-weight:bold;
}
#popupBody{
	height:60%;
	font-size:20px;
	text-align:center;
}
#popupOptions{
	height:20%;
	text-align:center;
}


.tabButton{
		background-color: #1E7ABB; 
		border: none;
		color: white;
		padding: 0px 6px 0px 6px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 0px 10px 0px 10px;
		cursor: pointer;
		position:relative;
		line-height:29px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
.tabButton:disabled{
	background-color: #aaa;
	cursor: auto;
}
.tabButton:disabled.tabButton:hover {
	background-color: #aaa;
}
.tabButton:hover {
	background-color: #13458F;
}
.selectedTab {
	background-color: #13458F;
}

#unsavedCount{
	position:absolute;
	border-radius:5px 5px 5px 5px;
	padding:1px 5px;
	font-size:12px;
	float:right;
	right:-.5em;
	top:-10px;
	background-color:red;
	line-height:20px;
}

.tabContent{
	display:none;
}
.activeTab{
	display: block;
}

#scheduleTab{
	font-size: 14px;
	min-width:900px;
}
#unsavedTab{
	font-size: 14px;
}
.scheduleHeader{
	font-weight:bold;
}
.scheduleItem{
	height: 20px;	
	line-height: 20px;
	text-align:center;
}
.scheduleItem:nth-child(even) {
	background-color:#3B6472;
}
.scheduleItem:nth-child(odd) {
	background-color:#375D6B;
}
.scheduleMatchName{
	float:left;
	width: 130px;
}
.scheduleMatchState{
	width: 110px;
	float:left;
}
.scheduleScore{
	width:70;
	float:left;
}
.scheduleTeam{
	width:50px;
	float:left;
}
.scheduleOp{
	float:left;
	height:100%;
	text-align:center;
}
.scheduleOp1{
	width:60px;
}
.scheduleOp2{
	width:60px;
}
.scheduleOp3{
	width:100px;
}

#scoreTab, #activeTab{
	position:relative;
	min-width:1220px;
	max-width:1565px;
	height:100%;
	margin: 0 auto;
}
#activeTab tr, #scoreTab tr, #activeTab legend, #scoreTab legend {
	color:black;
}

.scoreBanner{
	background-color:yellow;
	color:black;
	height:30px;
	line-height:yellow;
	text-align:center;
	width:100%;
}


.scoresMatchName{
	position:absolute;
	width:300px;
	height:30px;
	background-color:white;
	color:black;
	align:center;
	left: calc(50% - 150px);
	line-height:30px;
	text-align:center;
	z-index:5;
	border-bottom: 1px solid black;
}
.scoresContainer{
	width:50%;
	min-height:100%;
	float:left;
	min-width:370px;
	overflow:visible;
}
.redScores{
	background-color:#FF4444;
}
.blueScores{
	background-color:#44AAFF;
}


.scoreField{
	float:left;
	width:41;
	height:41;
	font-size:24px;
}
.scoreLabel{
	float:left;
	width: 70;
}
.scoreControl{
	
}
.allianceRobots td {
	width:16%;
}
.scoreItem{
	float:left;
	margin:2px;
	font-size:20px;
}
.sampleField{
	
}

.robotLabelAuto{
	text-align:center
}
.egRobotTable{
	border:1px solid black;
}
.scoreSet{
	width:fit-content;
	float:left;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.sfImg {
	width:2em;
	height:2em;
}
.blueSet{
	float:right;
}

.breakdown{
	width:150;
	float:left;
}
.redBreakdown{
	float:right;
}
.scoreTeamInfo{
	width:300px;
	background-color:inherit;
	color:black;
	height:100px;
	float:left;
}
.redTeamInfo{
	float:right;
}
.scoreTotal{
	width:150px;
	height:100%;
	float:left;
	background-color:white;
}

.redTotal{
	float:right;
}
.scoreTeams{
	width:150px;
	height:100%;
	float:right;
	background-color:#274555;
	color:black !important;
	align:middle;
}

.redTeams{
	float:left;
}

.scoreTeamRow{
	width:146px;
	height:20px;
	margin:2px;	
}

.scoreTeamNumber{
	width:60px;
	background-color:white;
	height:100%;
	float:left;
}
.scoreNoShowDiv{
	width:20px;
	background-color:cyan;
	height:100%;
	float:left;
}
.scoreYCDiv{
	width:20px;
	background-color:yellow;
	height:100%;
	float:left;
}
.scoreRCDiv{
	width:20px;
	background-color:red;
	height:100%;
	float:left;
}
.scoreCardHelpDiv{
	width:20px;
	height:100%;
	float:left;
	color:white;
	border-radius:9px;
	border: 1px solid white;
}
.redTeamNumber{
	float:right;
	text-align:right;
}
.redNoShowDiv{
	float:right;
}
.redYCDiv{
	float:right;
}
.redRCDiv{
	float:right;
}

.scoreTeamNumber.card{
	background-color:yellow;
}


.redBreakdown{
	float:right;
}

.adjust{
	background-color:yellow;
}

.scoreSpan{
	position:relative;
	width:100%;
	height:70px;
	top:30px;
	background-color:white;
	color:black;
	text-align:center;
	line-height:70px;
	font-size:36px;
}

td > input[type="number"]{
	width:100px;
}

#selectTop{
	width:100%;
	text-align:center;
	padding: 10px;
}

#selectLeft{
	float:left;
	width:30%;
	text-align:center;
}
#selectRight{
	float:left;
	width:70%;
	text-align:center;
}
#allianceTable{
	margin: 0 auto;
	border: 1px solid;
	border-collapse: collapse;
	text-align:center;
}
#allianceTable th, #allianceTable td{
	width:80px;
	height:30px;
	border-top: 1px solid;
}


#availableTable{
	margin: 0 auto;
	border: 1px solid;
	border-collapse: collapse;
	text-align:center;	
	max-height:80%;
}

#availableTable th, #availableTable td{
	width:100px;
	height:30px;
	border-top: 1px solid;
}
#availableTable .availableName{
	width: 200px;
	border-top: 1px solid;
}

#availableBody{
	display:block;
	overflow-y:scroll;
	max-height:calc(100vh - 400px);
}

#availableTable thead, #availableBody tr{
	display:table;
}
#availableBody tr{
	width: 100%;
}

#testInfo{
	font-size:14px;
}
.testTeamInput{
	max-width:70px;
}