	<table border="3" id="rankingTable">
		  	<!-- The first row should never be moved -->
		  	<tr><th>Rank</th><th>Team&nbsp;#</th><th>RP</th><th>TBP</th><th>Plays</th></tr>
		  	#set($i = 0)
		#foreach($r in $rankings)
			#if($i % 2 == 0)
				#set ($c = "#FFFFFF")	
			#else
				#set ($c = "#CCCCCC")
			#end
			#set($i = $i + 1)
			<tr  align=center class="move">
				#if($r.ranking > 0)
					<td bgcolor="$c" id="rank_$i">$r.getRanking()</td>
					<td bgcolor="$c" id="num_$i">$r.getTeamNumber()</td>
					<td bgcolor="$c" id="rp_$i">$r.getRP()</td>
					<td bgcolor="$c" id="tbp_$i">$r.getTBP()</td>
					<td bgcolor="$c" id="played_$i">$r.getMatchesPlayed()</td>
				#else
					<td bgcolor="$c" id="rank_$i">NP</td>
					<td bgcolor="$c" id="num_$i">$r.getTeamNumber()</td>
					<td bgcolor="$c" id="rp_$i">--</td>
					<td bgcolor="$c" id="tbp_$i">--</td>
					<td bgcolor="$c" id="played_$i">0</td>
				#end
			</tr>
			
		#end
			#if($i % 2 == 0)
				#set ($c = "#FFFFFF")	
			#else
				#set ($c = "#CCCCCC")
			#end
			<tr  align=center class="move">
				<TD bgcolor=$c>&nbsp;</TD>
				<TD bgcolor="$c"></TD>
				<TD bgcolor="$c"></TD>
				<TD bgcolor="$c"></TD>
				<TD bgcolor="$c"></TD>
			</tr>
		  	</table>
		  	
		  	<table border="3" id="matchTable">
		  	<!-- The first row should never be moved -->
		  	<tr><th>Match</th><th>Results</th></tr>
		  	
		  	
		#set ($redColor = "#FF4444")
		#set ($blueColor = "#44AAFF")
		#set($i = 0)
		#foreach($m in $matches)
			#if($i % 2 == 0)
				#set ($c = "#FFFFFF")	
			#else
				#set ($c = "#CCCCCC")
			#end
			#if($m.getRedTotal() > $m.getBlueTotal())
				#set ($winColor = "$redColor")
				#set ($winChar = "R")
			#elseif($m.getBlueTotal() > $m.getRedTotal())
				#set ($winColor = "$blueColor")
				#set ($winChar = "B")
			#else
				#set ($winColor = "#CCCCCC")
				#set ($winChar = "T")
			#end
			#if("$m.getState()" != "COMMITTED")
				#set ($winColor = "$c")
			#end
				<TR ALIGN=CENTER class="move">
				<TD BGCOLOR="$winColor" id="rank_$i">
					#if("$m.getType()" == "PRACTICE")
						P-$m.getNumber()
					#elseif("$m.getType()" == "QUALS")
						Q-$m.getNumber()
					#else
						$m.getShortName()
					#end
				</TD>
				<TD BGCOLOR="$winColor">
					#if("$m.getState()" == "COMMITTED")
						${m.getRedTotal()}-${m.getBlueTotal()} $winChar
					#else
						Unplayed
					#end
				</TD>
				</TR>
					#set($i = $i + 1)
		#end
			#if($i % 2 == 0)
				#set ($c = "#FFFFFF")	
			#else
				#set ($c = "#CCCCCC")
			#end
			<tr bgcolor=$c class="move">
			<td>&nbsp;</td>
			<td></td>
			</tr>
		  	</table>
		  	