## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#parse("/velocity/layout.vm")
#parse("/velocity/event/counter_macro.vm")
#parse("/velocity/utils/spaces.vm")
#@mainLayout()
<link rel="stylesheet" href="/event/ref.css?v=$!random">
<style>
div.form-group > label,
div.form-group > button,
div.form-group > input,
div.form-group > div {
	margin-top:10px;
}
button {
    touch-action: manipulation;
}
img {
	max-width:100%;
	margin:0px;
}
.red.alliance {
	background: #ED1C24;
}
.blue.alliance {
	background: #0066B3;
}
.alliance {
	color:white;
}
.btn {
	width:12em;
}
</style>
<script>

var yesGold = "/img/block_yellow.png";
var noGold = "/img/block_black.png";
var yesSilver = "/img/ball_white.png";
var noSilver = "/img/ball_black.png";
$( document ).ready(function() {
	validateUI();
	$('.noShowClass').change( function() {
		   validateUI();   
		});
});

function validateUI() {
	obj = getDataObj();
	
	if (obj.team1NoShow) {
		$("#team1Latched0").click();
		$("#team1Latched label").addClass("disabled")
	} else {
		$("#team1Latched label").removeClass("disabled");
		$("#team1Latched label input").prop("disabled", false);
	}
	if (obj.team2NoShow) {
		$("#team2Latched0").click();
		$("#team2Latched label").addClass("disabled")
	} else {
		$("#team2Latched label").removeClass("disabled");
		$("#team2Latched label input").prop("disabled", false);
	}
	#if($team3)
	if (obj.team3NoShow) {
		$("#team3Latched0").click();
		$("#team3Latched label").addClass("disabled")
	} else {
		$("#team3Latched label").removeClass("disabled");
		$("#team3Latched label input").prop("disabled", false);
	}
	if (!obj.team1NoShow && !obj.team2NoShow && !obj.team3NoShow) { //if we have 3 teams and all of them are marked present, then you can't start the match
		$("#submitButton").addClass("disabled");
	} else {
		$("#submitButton").removeClass("disabled");
	}
	#end
	
	$("#team1Latched0").blur();
	$("#team2Latched0").blur();
	$("#team3Latched0").blur();
	
	$("#submitButton").prop("disabled", $("#submitButton").hasClass("disabled"));
	$(".disabled input").prop("disabled", true);
}

function getDataObj() {
	obj = {};
	obj.team1NoShow = $('#team1NoShow label input:radio:checked').val() == "0";
	obj.team1Latched = $('#team1Latched label input:radio:checked').val() == "1";
	
	obj.team2NoShow = $('#team2NoShow label input:radio:checked').val() == "0";
	obj.team2Latched = $('#team2Latched label input:radio:checked').val() == "1";
	
	#if($team3)
	obj.team3NoShow = $('#team3NoShow label input:radio:checked').val() == "0";
	obj.team3Latched = $('#team3Latched label input:radio:checked').val() == "1";
	#else
	obj.team3NoShow = true;
	obj.team3Latched = false;
	#end
	return obj;
}

function submitInit() {
	obj = getDataObj();
	$.ajax({
        url: "./init/",
        type: "POST",
        data: JSON.stringify(obj),
        success: function (data) {
            //we good
            console.log("we good");
            location.reload();
        },
        error: function (xhr, textStatus, errorThrown) {
        	if(xhr.responseText == "LOCKOUT")window.location.reload(true);
            //ERROR HANDLING
            console.log("Error");
        }});
}
</script>
<div class="row justify-content-center">
	<div class="col-10 alert alliance $alliance text-center" id="header">
	$matchObj.getShortName() Pre-Match Setup
	</div>
</div>
#if($didntPlayString)
<div class="row justify-content-center">
	<div class="col-10 text-center">
	 $didntPlayString
	</div>
</div>
#end
<div class="form-group row justify-content-center">
	<div class="col-4 col-lg-2 vertical-center">
		 Team $team1 Present:
	</div>
		<div class="btn-group btn-group-toggle col-6 col-lg-3 justify-content-center" data-toggle="buttons" id="team1NoShow">
	  	<label class="btn btn-outline-info #if($noshow1 > 0)active#end">
		    <input type="radio" name="team1NoShow" id="team1NoShow0" value="0" autocomplete="off" class="noShowClass" #if($noshow1 > 0)checked#end>No&nbsp;Show
  		</label>
		<label class="btn btn-outline-info #if($noshow1 == 0)active#end">
		    <input type="radio" name="team1NoShow" id="team1NoShow1" value="1" autocomplete="off" class="noShowClass" #if($noshow1 == 0)checked#end>Present
  		</label>
	</div>
	<div class="col-4 col-lg-2 vertical-center">
		Team $team1 Latched:
	</div>
		<div class="btn-group btn-group-toggle col-6 col-lg-3 justify-content-center" data-toggle="buttons" id="team1Latched">
	  	<label class="btn btn-outline-info active">
		    <input type="radio" name="team1Latched" id="team1Latched0" value="0" autocomplete="off" checked>No
  		</label>
		<label class="btn btn-outline-info">
		    <input type="radio" name="team1Latched" id="team1Latched1" value="1" autocomplete="off">Yes
  		</label>
	</div>
</div>
<div class="form-group row justify-content-center">
	<div class="col-4 col-lg-2 vertical-center">
		Team $team2 Present:
	</div>
		<div class="btn-group btn-group-toggle col-6 col-lg-3 justify-content-center" data-toggle="buttons" id="team2NoShow">
	  	<label class="btn btn-outline-info #if($noshow2 > 0)active#end">
		    <input type="radio" name="team2NoShow" id="team2NoShow0" value="0" autocomplete="off" class="noShowClass" #if($noshow2 > 0)checked#end>No&nbsp;Show
  		</label>
		<label class="btn btn-outline-info #if($noshow2 == 0)active#end">
		    <input type="radio" name="team2NoShow" id="team2NoShow1" value="1" autocomplete="off" class="noShowClass" #if($noshow2 == 0)checked#end>Present
  		</label>
	</div>
	<div class="col-4 col-lg-2 vertical-center">
		Team $team2 Latched:
	</div>
		<div class="btn-group btn-group-toggle col-6 col-lg-3 justify-content-center" data-toggle="buttons" id="team2Latched">
	  	<label class="btn btn-outline-info active">
		    <input type="radio" name="team2Latched" id="team2Latched0" value="0" autocomplete="off" checked>No
  		</label>
		<label class="btn btn-outline-info">
		    <input type="radio" name="team2Latched" id="team2Latched1" value="1" autocomplete="off">Yes
  		</label>
	</div>
</div>
#if($team3)
<div class="form-group row justify-content-center ">
	<div class="col-4 col-lg-2 vertical-center">
		Team $team3 Present:
	</div>
		<div class="btn-group btn-group-toggle col-6 col-lg-3 justify-content-center" data-toggle="buttons" id="team3NoShow">
	  	<label class="btn btn-outline-info #if($noshow3 > 0)active#end">
		    <input type="radio" name="team3NoShow" id="team3NoShow0" value="0" autocomplete="off" class="noShowClass" #if($noshow3 > 0)checked#end>No&nbsp;Show
  		</label>
		<label class="btn btn-outline-info #if($noshow3 == 0)active#end">
		    <input type="radio" name="team3NoShow" id="team3NoShow1" value="1" autocomplete="off" class="noShowClass" #if($noshow3 == 0)checked#end>Present
  		</label>
	</div>
	<div class="col-4 col-lg-2 vertical-center">
		Team $team3 Latched:
	</div>
		<div class="btn-group btn-group-toggle col-6 col-lg-3 justify-content-center" data-toggle="buttons" id="team3Latched">
	  	<label class="btn btn-outline-info active">
		    <input type="radio" name="team3Latched" id="team3Latched0" value="0" autocomplete="off" checked>No
  		</label>
		<label class="btn btn-outline-info">
		    <input type="radio" name="team3Latched" id="team3Latched1" value="1" autocomplete="off">Yes
  		</label>
	</div>
</div>
#end
<hr class="col-10">
<div class="row justify-content-center">
	<button class="btn col-10 text-center btn-secondary" onClick="submitInit()" id="submitButton">
	$allianceDisplay Alliance Ready
	</button>
</div>
  
#end