## Copyright (c) 2018 FIRST, Thomas Barnette, George Marchant, and Trey Woodlief. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without modification,
## are permitted (subject to the limitations in the disclaimer below) provided that
## the following conditions are met:
##
## Redistributions of source code must retain the above copyright notice, this list
## of conditions and the following disclaimer.
##
## Redistributions in binary form must reproduce the above copyright notice, this
## list of conditions and the following disclaimer in the documentation and/or
## other materials provided with the distribution.
##
## Neither the name of FIRST nor the names of its contributors may be used to endorse or
## promote products derived from this software without specific prior written permission.
##
## NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY THIS
## LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
## FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
## DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
## SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
## CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
## OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##

#parse("/velocity/layout.vm")
#@mainLayout()
<style>
</style>
    <div class="row justify-content-center">
	<div class="col-10 alert alert-primary text-center">
	Active Events
	</div>
</div>

	<div class="row justify-content-center">
		<table class = "col-10 table table-striped table-responsive justify-content-center">
		<thead>
			<tr>
				<th scope="col" class="col-1 text-center">Code</th>
				<th scope="col" class="col-4 text-center">Name</th>
				<th scope="col" class="col-2 text-center">Status</th>
				<th scope="col" class="col-3 text-center">Start-End</th>
			</tr>
		</thead>
			#if($activeEvents.size() == 0)
			<tr style="visibility:hidden;">
				<th class="col-1 text-center" scope="row"><a>CODE</a></td>
				<td class="col-4 text-center" style ="word-break:break-word;"><a>Event Name</a></td>
				<td class="col-2 text-center">In Progress</td>
				<td class="col-3 text-center">MM/DD/YYYY - MM/DD/YYYY</td>
			</tr>
			#end
			#foreach($event in $activeEvents)
				#if(!$event.isDivision())
					#if($event.data.finals)
					##<tr>
					##<td colspan=10>
					
						##<table class = "col-10 table table-responsive justify-content-center" style="padding:0px;">
							#set($dd = "")
							#foreach($div in $event.divisions)
								#set($a = $event.data.code.substring(0,$event.data.code.lastIndexOf("_")))
								#set($b="<br><br><a href='event/${a}_$div.id'>$div.name</a>")
								#set($dd = "${dd}$b")
							#end
							<tr>
								<th class="col-1 text-center" scope="row"><a href="event/$event.data.code/">$event.data.code</a></td>
								<td class="col-4 text-center" style ="word-break:break-word;"><a href="event/$event.data.code/">$event.data.name</a> $dd</td>
								<td class="col-2 text-center">$event.data.getStatusDisplayString()</td>
								<td class="col-3 text-center">$event.data.getStartEndString()</td>
							</tr>
							
					##		#foreach($div in $event.divisions)
					##			<tr>
					##				#set($a = $event.data.code.substring(0,$event.data.code.lastIndexOf("_")))
					##				##<th class="col-1 text-center" scope="row"></th>
					##				
					##				<th class="col-1 text-center" scope="row"><a href="event/${a}_$div.id"><!--${a}_$div.id--></a></th>
					##				<td class="col-4 text-center" scope="row"><a href="event/${a}_$div.id">$div.name</a></td>
					##				<td class="col-5 text-center"></td>
					##			</tr>
					##		#end
							
							
						##</table>
						
						##</td>
					##</tr>
					#else
					<tr>
						<th class="col-1 text-center" scope="row"><a href="event/$event.data.code/">$event.data.code</a></td>
						<td class="col-4 text-center" style ="word-break:break-word;"><a href="event/$event.data.code/">$event.data.name</a></td>
						<td class="col-2 text-center">$event.data.getStatusDisplayString()</td>
						<td class="col-3 text-center">$event.data.getStartEndString()</td>
					</tr>
					#end					
				#end
				
			#end
		</table>  
</div>
<hr class="col-10">

    <div class="row justify-content-center">
	<div class="col-10 alert alert-info text-center">
	All Events
	</div>
</div>
<div class="row justify-content-center">
		<table class = "col-10 table table-striped table-responsive">
		<thead>
			<tr>
				<th scope="col" class="col-1 text-center">Code</th>
				<th scope="col" class="col-4 text-center">Name</th>
				<th scope="col" class="col-2 text-center">Status</th>
				<th scope="col" class="col-3 text-center">Start-End</th>
			</tr>
		</thead>
			#if($allEvents.size() == 0)
			<tr style="visibility:hidden;">
				<th class="col-1 text-center" scope="row"><a>CODE</a></td>
				<td class="col-4 text-center" style ="word-break:break-word;"><a>Event Name</a></td>
				<td class="col-2 text-center">In Progress</td>
				<td class="col-3 text-center">MM/DD/YYYY - MM/DD/YYYY</td>
			</tr>
			#end
			#foreach($event in $allEvents)
				<tr>
					<th class="col-1 text-center" scope="row"><a href="event/$event.code/">$event.code</a></td>
					<td class="col-4 text-center" style ="word-break:break-word;"><a href="event/$event.code/">$event.name</a></td>
					<td class="col-2 text-center">$event.getStatusDisplayString()</td>
					<td class="col-3 text-center">$event.getStartEndString()</td>
				</tr>
			#end
		</table>  
</div>
#end